Repository TropixInc/w3block-directory-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, important, ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

test:
- any: ['test/*', 'jest.config.js']

source:
- any: ['src/**/*', '!src/docs/*']

important:
- any: ['package.json', 'package-lock.json','.env.example', '.nvmrc', 'tsconfig.json']

ci:
- any: ['.github/*']

chore: new sdk version
  package-lock.json
  src/directory/api/api.ts
  src/directory/api/swagger.json
  test/sdk.test.ts
Labels: repo, source

feat(api): swagger new version generated
  src/directory/api/api.ts
  src/directory/api/swagger.json
Labels: source

chore(release): 0.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

feat(api): swagger new version generated
  src/directory/api/api.ts
  src/directory/api/swagger.json
Labels: source

chore(release): 0.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

chore: new sdk version
  README.md
Labels: repo

feat(api): swagger new version generated
  src/directory/api/api.ts
  src/directory/api/swagger.json
Labels: source

chore(release): 0.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo
